// COLORS
$color-primary: #838b99;
$color-secondary: #042c6d;
$color-secondary-light: #0f53c0;
$color-secondary-dark: #03183a;
$color-white: #fff;
$color-grey-dark: #333435;
$color-black: #000;
$color-grey-light: #f3f3f3;
$color-grey-light-2: #b8b7b7;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;