body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Gothic A1', sans-serif;
}

.navbar {
  --navbar-blue: #0e188e;
  --navbar-display: flex;
}

.navbar {
  z-index: 999;
  background-color: var(--navbar-blue);
  display: var(--navbar-display);
  padding: 0 20px;
}

.navbar-brand {
  font-weight: bold;
  display: flex;
}

.navbar-toggle {
  display: none;
}

.navbar-items {
  display: var(--navbar-display);
}

.navbar-items-right {
  margin-left: auto;
}

.navbar-link > a, i {
  --link-hover: #9fc2f9;
  display: flex;
  padding: 15px;
  text-decoration: none;
  color: #FFF;
}

.navbar-link a:hover {
  background: var(--link-hover);
}

.page-intro {
  height: 100vh;
  width: 100%;
  position: absolute;
}

.navbar-brand-icon {
  background: url(icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40px;
  margin-right: 5px;
  width: 50px;
  padding: 0;
  position: relative;
  top: -8px;
}

.navbar-link {
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 0;
  }

  .navbar-brand {
    display: var(--navbar-display);
  }
  
  .navbar-items {
    display: none;
    flex-direction: column;
  }

  .navbar-items-right {
    margin: 0;
  }

  .navbar-toggle {
    align-self: flex-end;
    position: absolute;
    display: initial;
    cursor: pointer;
  }

  .navbar-toggle-show {
    display: flex;
  }
}