.feature-box {
    transition: all .5s;

    &__icon {
        text-align: center;
        display: block;
        font-size: 5.5rem;
    }
    
    &__details {
        padding: .5rem;
        font-size: 1rem;
        font-weight: 100;
    }

    &:hover {
        transform: translateY(-1rem);

        h3 {
            color: $color-secondary-light;    
        }
    }
}